/*----------------------Menu --------*/
img {
    width: 2rem;
}
.menu-toggler {
    position: fixed;
    top: 20px;
    right: 20px;
    display: block;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.menu-toggler:hover + label,
.menu-toggler:hover + label:before,
.menu-toggler:hover + label:after {
    background: white;
}

.menu-toggler:checked + label {
    background: transparent;
}

.menu-toggler:checked + label:before,
.menu-toggler:checked + label:after {
    top: 0;
    width: 40px;
    transform-origin: 50% 50%;
}

.menu-toggler:checked + label:before {
    transform: rotate(45deg) translateY(0px) translateX(0px);
}

.menu-toggler:checked + label:after {
    transform: rotate(-45deg);
}

.menu-toggler:checked ~ ul .menu-item {
    opacity: 1;
}

.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
    transform: rotate(0deg) translate(-200px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
    transform: rotate(25deg) translateX(-200px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
    transform: rotate(-25deg) translateX(-200px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
    transform: rotate(-50deg) translateX(-200px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(5) {
    transform: rotate(-75deg) translateX(-200px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(6) {
    transform: rotate(-100deg) translateX(-200px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(7) {
    transform: rotate(-125deg) translateX(-200px);
}

.menu-toggler:checked ~ ul .menu-item a {
    pointer-events: auto;
}

.menu-toggler + label {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: #f4e7fb;
    transition: transform 0.5s top 0.5s;
    position: absolute;
    display: block;
    top: -750px;
    bottom: 0;
    left: 0;
    right: -1700px;
    margin: auto;
}

.menu-toggler + label:before,
.menu-toggler + label:after {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: #f4e7fb;
    transition: transform 0.5s top 0.5s;
    content: "";
    position: absolute;
    display: block;
    left: 0;
}

.menu-toggler + label:before {
    top: 10px;
}

.menu-toggler + label:after {
    top: -10px;
}

/*portefolio*/
.menu-item:nth-child(1) a {
    transform: rotate(0deg);
}

/*skills*/
.menu-item:nth-child(2) a {
    transform: rotate(-25deg);
}

/*jeu*/
.menu-item:nth-child(3) a {
    transform: rotate(25deg);
}

/*github*/
.menu-item:nth-child(4) a {
    transform: rotate(50deg);
}

/*about me*/
.menu-item:nth-child(5) a {
    transform: rotate(75deg);
}

.menu-item:nth-child(6) a {
    transform: rotate(100deg);
}

.menu-item:nth-child(7) a {
    transform: rotate(125deg);
}

.menu-item {
    position: absolute;
    display: block;
    top: 0;
    bottom: 600px;
    left: 1500px;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: 0.5s;
    z-index: 10;
}
/*icon interieur du menu*/
.menu-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 65px;
    color: #f4e7fb;
    background: rgba(227,170,221,0.77);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
}

.menu-item a:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: #f4e7fb;;
    background: #f4e7fb;;
    font-size: 44.44px;
}

.picto-item {
    position: relative; /*les .picto-item deviennent référents*/
    cursor: help;
    border-radius: 50%;
}

/* on génère un élément :after lors du survol et du focus :*/

.picto-menu:hover:after,
.picto-menu:focus:after {
    content: attr(aria-label); /* on affiche aria-label */
    position: absolute;
    top: -2.4em;
    left: -50%;
    transform: translateX(-50%); /* on centre horizontalement  */
    z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
    white-space: nowrap; /* on interdit le retour à la ligne*/
    padding: 5px 14px;
    background: rgba(244,231,251,0.77);
    color: #000000;
    border-radius: 4px;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

/* on génère un second élément en :before pour la flèche */

[aria-label]:hover:before,
[aria-label]:focus:before {
    content: "▼";
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%); /* on centre horizontalement  */
    font-size: 20px;
    color: #413219;
}

/* pas de contour durant le :focus */
[aria-label]:focus {
    outline: none;
}

/*-----------------------------------Partie About me------------------------------------*/
#aboutme{
    position: relative; /* Positionnement relatif pour que les éléments enfants soient positionnés par rapport à lui */
}
/*fond ecran*/
.photoAboutMe {
    width: 100%;
    display: flex;
    margin: -1rem auto auto auto;
}

.card3 {
    width: 200px;
    height: 200px;
    background-color: rgba(244, 231, 251, 0.11);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    position: absolute;
    bottom: 15rem;
    left: 43%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    z-index: 1;
}
/*!*miniature*!*/
.photo3 {
    width: 30rem;
    border-radius: 1rem;
    position: absolute;
    top: 15rem;
    left: 15%; /* Positionne l'image au milieu horizontalement */
    transform: translateX(10%); /* Corrige la position pour centrer l'image */
}
.titleAboutMe{
    position: absolute;
    font-family: "bebas neue", sans-serif;
    color: #f4e7fb;
    font-size: 10rem;
    top: 8rem;
    left: 53%; /* Positionne l'image au milieu horizontalement */
    transform: translateX(10%); /* Corrige la position pour centrer l'image */
}
.par1Aboutme{
    position: absolute;
    font-family: "Montserrat", sans-serif;
    color: #f4e7fb;
    font-size: 2rem;
    top: 20rem;
    left: 40%; /* Positionne l'image au milieu horizontalement */
    transform: translateX(10%); /* Corrige la position pour centrer l'image */
    width: 60rem;
}
.par2Aboutme{
    position: absolute;
    font-family: "Montserrat", sans-serif;
    color: #f4e7fb;
    font-size: 2rem;
    top: 40rem;
    left: 45%; /* Positionne l'image au milieu horizontalement */
    transform: translateX(10%); /* Corrige la position pour centrer l'image */
    width: 60rem;
}
