<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/aboutme.css">
<!--    <script src="js/home.js"></script>-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">


    <title>About me</title>

</head>
<body>
<nav class="menu">
    <input class="menu-toggler" id="menu-toggler" type="checkbox">
    <label for="menu-toggler"></label>
    <ul>
        <li class="menu-item">
            <a class="picto-menu" href="home.html#portfolio" aria-label="Portfolio"><img src="assets/menu/photo.png"></a>
        </li>

        <li class="menu-item">
            <a class="picto-menu" href="home.html#skills" aria-label="Skills"><img src="assets/skills/skill.png"> </a></li>

        <li class="menu-item"><a class="picto-menu" href="game.html" aria-label="Game"><img
                src="assets/menu/une-manette.png"></a></li>

        <li class="menu-item"><a class="picto-menu" href="https://github.com/kimiis" aria-label="Github"><img
                src="assets/menu/github.png"></a>
        </li>
        <li class="menu-item"><a class="picto-menu" href="home.html" aria-label="Contact"><img
                src="assets/menu/home.png" style="width: 5rem"></a></li>

        <li class="menu-item"><a class="picto-menu" href="https://www.linkedin.com/in/isabelle-kim-6ab129235/"
                                 aria-label="Linkedin"><img
                src="assets/menu/linkedin.png"></a></li>

        <li class="menu-item"><a class="picto-menu" href="contact.html" aria-label="Contact"><img
                src="assets/menu/lettre.png"></a></li>
    </ul>
</nav>

<div id="aboutme">
    <!-- Contenu de la section About me -->
    <img class="photoAboutMe" src="assets/aboutMe/fondAboutMe.png" alt="picture of me remixed by ai">
    <img class="photo3" src="assets/aboutMe/logo8.png" alt="picture of me remixed by ai">
    <div class="card3"></div>
    <H5 class="titleAboutMe">WHO AM I ?</H5>

    <p class="par1Aboutme">I am Kim Isabelle and I am looking for an apprenticeship as a web developer at the
        Bachelor's/Master's level.
        <br>
        I have always been drawn to fields that have an affinity for art. Creativity is something
        that prevails in my
        hobbies: drawing, sewing, crafting, cake design, etc. </p>

    <p class="par2Aboutme">I also engage in weightlifting because it is important to pursue physical activities,
        especially when engaged in
        sedentary professions.
        <br>
        <br>
        Additionally, I grew up with video games and still enjoy them to this day.
        <br>
       You can also download my <a href="assets/aboutMe/CvKim.pdf" download="CvKim.pdf">resume</a>.
    </p>



</div>
</body>
</html>