<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/contact.css">
    <!--    <script src="js/home.js"></script>-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">


    <title>Home</title>

</head>
<body>
<nav class="menu">
    <input class="menu-toggler" id="menu-toggler" type="checkbox">
    <label for="menu-toggler"></label>
    <ul>
        <li class="menu-item">
            <a class="picto-menu" href="home.html#portfolio" aria-label="Portfolio"><img
                    src="assets/menu/photo.png"></a>
        </li>
        <li class="menu-item">
            <a class="picto-menu" href="home.html#skills" aria-label="Skills"><img src="assets/skills/skill.png"> </a>
        </li>
        <li class="menu-item"><a class="picto-menu" href="game.html" aria-label="Game"><img
                src="assets/menu/une-manette.png"></a></li>
        <li class="menu-item"><a class="picto-menu" href="https://github.com/kimiis" aria-label="Github"><img
                src="assets/menu/github.png"></a>
        </li>
        <li class="menu-item"><a class="picto-menu" href="aboutme.html" aria-label="About me"><img
                src="assets/menu/profil.png"></a></li>

        <li class="menu-item"><a class="picto-menu" href="https://www.linkedin.com/in/isabelle-kim-6ab129235/"
                                 aria-label="Linkedin"><img
                src="assets/menu/linkedin.png"></a></li>

        <li class="menu-item"><a class="picto-menu" href="home.html" aria-label="Home"><img style="width: 5rem"
                                                                                               src="assets/menu/home.png"></a>
        </li>
    </ul>
</nav>

<div id="contact">
    <!-- Contenu de la section Contact -->
    <img class="photoContact" src="assets/contact/fondContact.png" alt="picture of me remixed by ai">
    <img class="photoProfilContact" src="assets/contact/me.png" alt="picture of me remixed by ai">
    <div class="card5"></div>
    <div class="card6"></div>
    <img class="card7" src="assets/portfolio/fondsPortfolio1.png">
    <img class="card8" src="assets/portfolio/fondsPortfolio2.png">


    <div class="card4"></div>
    <H5 class="titleContact">Contact me</H5>
    <a href="https://www.linkedin.com/in/isabelle-kim-6ab129235">
        <img class="logolinkedin" src="assets/contact/linkedin.png" alt="logo redirecting to my LinkedIn">
    </a>

    <a href="mailto:kimi.0208@outlook.fr">
        <img class="logoMail" src="assets/contact/mail.png" alt="logo with my personal mail">
    </a>
</div>

</body>
</html>