<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="css/game.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Hero battle</title>
</head>
<body>

<nav class="menu">
    <input class="menu-toggler" id="menu-toggler" type="checkbox">
    <label for="menu-toggler"></label>
    <ul>
        <li class="menu-item">
            <a class="picto-menu" href="home.html#portfolio" aria-label="Portfolio"><img src="assets/menu/photo.png"></a>
        </li>

        <li class="menu-item">
            <a class="picto-menu" href="home.html#skills" aria-label="Skills"><img src="assets/skills/skill.png"> </a></li>

        <li class="menu-item"><a class="picto-menu" href="home.html" aria-label="Contact"><img
                src="assets/menu/home.png" style="width: 5rem"></a></li>

        <li class="menu-item"><a class="picto-menu" href="https://github.com/kimiis" aria-label="Github"><img
                src="assets/menu/github.png"></a>
        </li>
        <li class="menu-item"><a class="picto-menu" href="aboutme.html" aria-label="Contact"><img
                src="assets/menu/profil.png" style="width: 5rem"></a></li>

        <li class="menu-item"><a class="picto-menu" href="https://www.linkedin.com/in/isabelle-kim-6ab129235/"
                                 aria-label="Linkedin"><img
                src="assets/menu/linkedin.png"></a></li>

        <li class="menu-item"><a class="picto-menu" href="contact.html" aria-label="Contact"><img
                src="assets/menu/lettre.png"></a></li>
    </ul>
</nav>
<div style="position: relative; display: inline-block">

    <div class="container">
        <!-- player health -->
        <div class="health-bar player-health">
            <div id="playerHealth"></div>
        </div>

        <!-- timer -->
        <div id="timer" class="timer">10</div>

        <!-- enemy health -->
        <div class="health-bar enemy-health">
            <div id="enemyHealth"></div>
        </div>
        <div></div>
    </div>
    <div id="displayText" class="display-text">Tie</div>
    <canvas></canvas>
</div>
<div class="commandInfoContainer">
    <div>
        <p class="playerTitleDisplay">Left player</p>
        <p class="playerMoveText">Move:</p>
        <p class="playerMoveText">Q,Z,D </p>
        <p class="playerMoveText">Attack: Spacebar</p>
    </div>
    <div>
        <p class="playerTitleDisplay">Right player</p>
        <p class="playerMoveText">Move: <i class="fa-solid fa-circle-left"></i>,<i class="fa-solid fa-circle-up"></i>,<i class="fa-solid fa-circle-right"></i></p>
        <p class="playerMoveText">Attack: <i class="fa-solid fa-circle-down"></i></p>
    </div>
</div>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
        integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
></script>
<script src="js/classes/utils.js"></script>
<script src="js/classes/classes.js"></script>
<script src="js/game.js"></script>
</body>
</html>
